# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/hotkeys.json

# Plugins with secrets
.obsidian/plugins/remotely-save/

# Trash
.trash/

# OS
.DS_Store
Thumbs.db

# dotfiles
.env

# API Keys
.obsidian/plugins/copilot/data.json
