# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/*/data.json

# Trash
.trash/

# OS
.DS_Store
Thumbs.db

# dotfiles
.env

# Plugins with secrets
.obsidian/plugins/remotely-save/
